.App {
  text-align: center;
  border: 10px solid #0fd3ff;
}

.App-logo {
  /*height: 10vmin;*/
  height: 10rem ;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border: 10px solid rgba(255, 15, 15, 0.34);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 1rem;

  border: 10px solid #ff0f0f;
  box-shadow: 0 4px 4px 0 #1006f5;
}
                                                                                                                                        </div>
                                                                                                                                                     <div className="RightBody">

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
